body {
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
    color: #7C7C7C;
    font-style: normal;
    font-weight: normal;
}

h2 {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.46px;
}

h3 {
    font-size: 14px;
    line-height: 18px;
}

h1,
h3 {
    font-family: 'PT Sans', sans-serif;
    color: #FFFFFF;
}

h4 {

    font-size: 14px;
    line-height: 16px;
}

h2,
h4 {
    color: #111111;
}


/* =============================.container============================== */

.container {
    max-width: 665px;
    padding: 0;
    background: url('../img/my-img.svg') no-repeat;
    background-position: right bottom;


}

.d-flex {
    border: 1px solid #000000;
}

/* =============================col-left============================== */
#col-left {
    height: auto;
    max-width: 138px;
    background: #5A61ED;
}


/* =============================col-right============================== */
.col-md-12 {
    padding-left: 20px;
    padding-top: 20px;
}

.form-group {
    margin-bottom: 0;
}

.form-control,
#radio-btn1,
#radio-btn2 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #111111;

}

.text-label {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    margin-bottom: 0px;
}

.block {

    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

input.form-control,
select.form-control {
    max-width: 235px;
    height: 20px;
    background: none;
    border: none;
    border-radius: 0px;
    outline: none;
    padding: 0;
    border-bottom: 1px solid #000000;
    color: #5A61ED;
}

input.form-control:focus,
select.form-control:focus {
    color: #5A61ED;
    box-shadow: none;
    border-bottom: 1px solid red;
    background: none;
}


input[type='radio'] {
    height: 12px;
    width: 12px;

}

#radio-btn {
    vertical-align: middle;
    margin: 0;
}

#radio-btn1 {
    margin-right: 20px;
}

div#radio-btn.row {
    margin-top: 0;
}

.btn-primary {
    background: #5A61ED;
    box-shadow: none;
    border-color: #000000;
    max-width: 235px;
}

.box {
    padding: 20px;
    margin-bottom: 0;
}